<?xml version="1.0" encoding="utf-8"?>
<root doc_dir="" doc_name="test_abc.fla"  publish_name="abc.swf" doc_class="Main">

   	<bitmap source_path="D:/assets/0.png" link_name="testA" quality="50"/>
	<bitmap source_path="D:/assets/1.png" link_name="testB" quality="60"/>
	<bitmap source_path="D:/assets/2.png" link_name="testC" quality="70"/>
 	<movie item_name="mc" link_name="MC">
		<layer name="layer1">
			<frame start_index="1" end_index="1" label="abc" quality="10" source_path="D:/assets/0.png" x="0" y="0"/>
			<frame start_index="2" end_index="2" source_path="D:/assets/1.png" x="0" y="0"/>
			<frame start_index="3" end_index="3" label="bcd" source_path="D:/assets/2.png" x="0" y="0"/>
			<frame start_index="4" end_index="4" source_path="" x="0" y="0"/>
			<frame start_index="5" end_index="5" source_path="" x="0" y="0"/>
			<frame start_index="6" end_index="6" source_path="" x="0" y="0"/>
		</layer>
		<layer name="layer2">
			<frame start_index="1" end_index="1" source_path="D:/assets/0.png" x="0" y="0"/>
			<frame start_index="2" end_index="2" label="testLabel" source_path="D:/assets/1.png" x="0" y="0"/>
			<frame start_index="3" end_index="4" source_path="D:/assets/2.png" x="0" y="0"/>
		</layer>
		<layer name="layer3">
			<frame start_index="1" end_index="1" source_path="D:/assets/0.png" x="0" y="0"/>
			<frame start_index="2" end_index="2" source_path="D:/assets/1.png" x="0" y="0"/>
			<frame start_index="3" end_index="3" source_path="D:/assets/2.png" x="0" y="0"/>
		</layer>
	</movie>
	<button item_name="btn" link_name="Btn">
		<layer name="layer1">
			<frame start_index="1" end_index="1" source_path="D:/assets/0.png" x="0" y="0"/>
			<frame start_index="2" end_index="2" source_path="D:/assets/1.png" x="0" y="0"/>
			<frame start_index="3" end_index="4" source_path="D:/assets/2.png" x="0" y="0"/>
		</layer>
		<layer name="sound_layer">
			<frame start_index="3" end_index="3" source_path="D:/assets/click.mp3"/>
		</layer>
	</button>
 	<sound source_path="D:/assets/click.mp3" link_name="" bit="16 kbps" stereo="true" quality="Best"/>
 	<font item_name="abc" font_name="Vivaldi" link_name="MyFont" is_FTE="true" bold="false" italic="false" embed_ranges="1|2|3">
 		<![CDATA[abc]]>
 	</font>
</root>
